.profile{width:100px; display: block; margin-left: auto; margin-right: auto;}
.name{font-size: 16px; text-align: center;}
.cont{text-align: center;}

.pseudo::first-line{
    color:red;
    font-size:30px;
}

.input-file::file-selector-button {
    background: skyblue;
    border: none;
    padding: 20px;
}

.input-file::file-selector-button:hover {
    background: blue;
}

input[type=file]::-webkit-file-upload-button {
    background: skyblue;
    border:none
}

input::-webkit-input-placeholder{
    color:red;
}

input[type=range]{appearance: none;}
input[type=range]::-webkit-slider-thumb{
    appearance: none; background: red; width:50px; height:50px;
}

progress{appearance: none;}
progress::-webkit-progress-bar{background: #eee; border-radius: 10px; overflow: hidden;}
progress::-webkit-progress-value{background: rgb(49,125,185);
    background: linear-gradient(90deg, rgba(49,125,185,1) 0%, rgba(67,134,180,1) 35%, rgba(0,212,255,1) 100%);}